@page "/Error/{ErrorType}"
@if (ErrorType == ErrorConstant.AuthorizationError.Code) {
    <label style="align-content:center">You don't has permission for this action, please contact administractor.</label>
}
else{
    <label style="align-content:center">System error, please contact administractor.</label>
}

@code {
    [Parameter] public string ErrorType { get; set; }
}
